body {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    background-image: url(https://ikkanlaz.github.io/TriviaGame/assets/images/cloudy-day.png);
}

h1 {
    font-size: 75px;
    font-family: 'Love Ya Like A Sister', cursive;
    /*color: #939185;*/
}

body {
    margin: 40px;
}


/*.content {
    grid-column-start: 2;
    grid-column-end: 4;
}*/

.header {
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    background-color: #D9E8C1;
    text-align: center;
    line-height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10fr;
    grid-template-rows: 150px 1fr;
    background-color: #F5EFCF;
    /*color: #FBF9EE;*/
    color: #AEAB9E;
    border-radius: 5px;
}

.content {
    display: grid;
    grid-gap: 20px;
    /*grid-template-columns: 1fr 10fr 1 fr;*/
    grid-template-rows: 30px 30px 1fr 75px;
}

#time-container, #question-container, #answers-container {
    /*grid-column-start: 2;
    grid-column-end: span 1;*/
    display: none;
    text-align: center;
}

#time-container {
    font-size: 18px;
}

#question-container {
    font-size: 24px;
    color: #858276;
}

#answers-container {
    font-size: 18px;
    color: #939185;
}

#continue-button {
    display: none;
}

#answer-image {
    max-height: 300px;
    width: auto;
    display: none;
    margin: 20px auto;
}

.button {
    width: 60%;
    display: block;
    margin: auto;
    font-size: 40px;
    font-family: 'Love Ya Like A Sister', cursive;
    /*color: #BAB7AA;*/
    color: #AEAB9E;
    border-radius: 5px;
    background-color: #FBF9EE;
    border: none;
}

.button:active {
    background-color: #F0EEE4;
}

.button:hover {
    outline: none;
}

.button:focus {
    outline: none;
}

.answer-option {
    margin-top: 20px;
}

@media only screen and (max-width: 710px) {
    .header {
        line-height: 80px;
    }
    h1 {
        font-size: 50px;
    }
    .container {
        grid-template-rows: 80px 1fr;
    }
    .button {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        margin: 0;
    }
    .header {
        line-height: 150px;
    }
    h1 {
        font-size: 50px;
    }
    .container {
        grid-template-rows: 150px 1fr;
    }
}

@media only screen and (max-width: 378px) {
    .header {
        line-height: 60px;
    }
    .container {
        grid-template-rows: 120px 1fr;
    }
    #answer-image {
        width: 90%;
        height: auto;
    }
    #continue-button {
        font-size: 20px;
    }
}